{% extends 'base.html' %}

{% block head %}
    <style>
        #homeNav {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        }

        .table td {
            text-align: center !important;
        }

        .month {
            margin: 0 auto !important;
            float: none !important;
            border-spacing: 1px;
            border-collapse: separate;
            padding: 8px;
        }

        td {
            padding: 8px;
        }

        .mon, .tue, .wed, .thu, .fri {
            background-color: #E8E8E8;
        }

        .sat, .sun {
            background-color: #D8D8D8;
        }

        .today {
            font-weight: bold;
        }

        .filled {
            background-color: #BCED91;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 well">

            <div class="row">
                <div class="col-md-11">
                     <h2 class="tk-atrament-web">Time Registration</h2>
                </div>
            </div>

            {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for msg in messages %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="col-md-12">
                <h3>New Registration</h3>
                <form class="form-horizontal" role="form" action="/" method="POST">{% csrf_token %}
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-3 control-label">Date</label>
                            <div class="input-group date col-sm-7 col-lg-9" id="datepicker1">
                                <input data-format="YYYY-MM-DD" type="text" class="form-control" placeholder="Date" value="{{ current_date }}" name="date" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputStartTime" class="col-sm-3 control-label">Start Time</label>
                            <div class="input-group date col-sm-7 col-lg-9" id="timepicker1">
                                <input data-format="hh:mm" type="text" class="form-control" placeholder="Start Time (optional)" name="start_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndTime" class="col-sm-3 control-label">End Time</label>
                            <div class="input-group date col-sm-7 col-lg-9" id="timepicker2">
                                <input data-format="hh:mm" type="text" class="form-control" placeholder="End Time (optional)" name="end_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
                            <div class="input-group col-xs-12 col-lg-9 col-sm-7">
                                <input type="text" class="form-control" placeholder="Description (optional)" name="description">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-offset-1">
                        <div class="form-group">
                            <label for="inputHours" class="col-sm-3 control-label">Hours</label>
                            <div class="input-group col-lg-9 col-sm-7 col-xs-12">
                                <input type="text" class="form-control" id="inputHours" placeholder="Hours" name="hours" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.project.errors }}
                            <label class="col-sm-3 control-label" for="inputProject">Project</label>
                            <div class="input-group col-lg-9 col-sm-7 col-xs-12">
                                {{ form.project }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputphase">phase</label>
                            <div class="input-group col-lg-9 col-sm-7 col-xs-12">
                                <select id="project_phases_select" class="form-control" name="project_phase" title="Select a project first" disabled="disabled">
                                    <option value="" selected="selected">---------</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group col-lg-9 col-sm-7 col-xs-12">
                                <button type="submit" class="btn btn-success btn-block">Add Registration</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-5 hidden-xs">
                {% if month_name and day %}
                     <h3>Registrations for {{ month_name }} {{ day }}</h3>
                {% else %}
                    <h3>Registrations for {{ month_name }}</h3>
                {% endif %}

                {% if registrations %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Hours</th>
                                <th>Project</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in registrations %}
                            <tr>
                                <td style="text-align: left !important;">{{ registration.date }}</td>
                                <td style="text-align: left !important;">{{ registration.hours }}</td>
                                <td style="text-align: left !important;">{{ registration.project.name }}</td>
                                <td style="text-align: center;"><a href="/remove_registration/{{ registration.id }}" title="Remove registration"><i class="glyphicon glyphicon-trash"></i></a><td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    You've got no registrations in this period.
                {% endif %}
            </div>

            <div class="col-md-5 col-lg-offset-1 hidden-xs">
                <h3>Calendar</h3>
                <div class="text-center">
                    <a href="/{{ month_l_year }}/{{ last_month }}/"><i class="glyphicon glyphicon-arrow-left"></i></a> {{ month_name }} <a href="/{{ month_r_year }}/{{ next_month }}/"><i class="glyphicon glyphicon-arrow-right"></i></a>
                </div>

                <div class="text-center">
                    {{ calendar }}
                </div>

                <div class="text-center">
                    <a href="/{{ last_year }}/"><i class="glyphicon glyphicon-arrow-left"></i></a> {{ current_year }} <a href="/{{ next_year }}/"><i class="glyphicon glyphicon-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $("#id_project").change(function() {
            var project = $(this).val();
            $("#project_phases_select").empty().append('<option>---------</option>');
            $('#project_phases_select').prop('disabled', false);
            $('#project_phases_select').prop('title', '');
            $.getJSON("{% url 'list_project_phases' %}", { project: project, active: 'True' }, function(project_phases) {
                var toAppend = '';
                var phases = $.parseJSON(project_phases)
                $.each(phases, function(i, o) {
                    toAppend += '<option value="' + o.pk + '">' + o.fields.name + '</option>';
                    });

                $("#project_phases_select").append(toAppend);
            });
        });
    </script>

    <script type="text/javascript">
    $(function () {
        $('#datepicker1').datetimepicker({
            pickTime: false
        });
    });
    $(function () {
        $('#timepicker1, #timepicker2').datetimepicker({
            format: 'HH:mm',
            pickDate: false,
            pickSeconds: false,
            pick12HourFormat: false
        });
    });
    </script>

{% endblock %}
