{% extends 'base.html' %}

{% block head %}
    <style>
        #overviewNav {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            }

        #fix-control-label {
            width: 65px;
        }

        #fix-controls {
            margin-left: 75px;
        }
    </style>

    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">

            <div class="row-fluid">
                <div class="span11">
                    <h2 class="tk-atrament-web">Overview</h2>
                </div>
            </div>

            <div class="span5">
                <h3 class="muted">Quicklook</h3>
                <form class="form-horizontal" id="fix-width" action="/overview/" method="POST">{% csrf_token %}
                    <div class="control-group">
                        <label class="control-label" id="fix-control-label" for="inputStartDate">From</label>
                        <div class="controls" id="fix-controls">
                            <div class="input-append date" id="datepicker1">
                                <input data-format="yyyy-MM-dd" type="text" id="appendedInput" placeholder="Date" name="quick_start_date" required>
                                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" id="fix-control-label" for="inputEndDate">To</label>
                        <div class="controls" id="fix-controls">
                            <div class="input-append date" id="datepicker2">
                                <input data-format="yyyy-MM-dd" type="text" id="appendedInput" placeholder="Date" name="quick_end_date" required>
                                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ quicklook_form.quick_project.errors }}
                        <label class="control-label" id="fix-control-label" for="inputDate">Project</label>
                        <div class="controls" id="fix-controls">
                            {{ quicklook_form.quick_project }}
                        </div>

                        <div class="controls" id="fix-controls">
                            <button type="submit" class="btn btn-success" name="quicklook">Quicklook</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="span5 offset1">
                <h3 class="muted">Export</h3>
                <form class="form-horizontal" id="fix-width" action="/overview/" method="POST">{% csrf_token %}
                    <div class="control-group">
                        <label class="control-label" id="fix-control-label" for="inputStartDate">From</label>
                        <div class="controls" id="fix-controls">
                            <div class="input-append date" id="datepicker3">
                                <input data-format="yyyy-MM-dd" type="text" id="appendedInput" placeholder="Date" name="start_date" required>
                                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" id="fix-control-label" for="inputEndDate">To</label>
                        <div class="controls" id="fix-controls">
                            <div class="input-append date" id="datepicker4">
                                <input data-format="yyyy-MM-dd" type="text" id="appendedInput" placeholder="Date" name="end_date" required>
                                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ pdf_form.project.errors }}
                        <label class="control-label" id="fix-control-label" for="inputDate">Project</label>
                        <div class="controls" id="fix-controls">
                            {{ pdf_form.project }}
                        </div>

                        <div class="controls" id="fix-controls">
                            <button type="submit" class="btn btn-success" name="export">Export PDF</button>
                        </div>
                    </div>
                </form>
            </div>

            {% if empty_registrations %}
                <div class="span8">
                    <h3>No registrations from {{ start_date }} to {{ end_date }}.</h3>
                </div>
            {% elif registrations %}
                <div class="span11">
                    <h3 class="muted">Registrations from <i>{{ start_date }} to {{ end_date }}</i></h3>
                </div>
                <div class="span4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Hours</th>
                                <th>Project</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in registrations %}
                            <tr>
                                <td style="text-align: left !important;">{{ registration.date }}</td>
                                <td style="text-align: left !important;">{{ registration.hours }}</td>
                                <td style="text-align: left !important;">{{ registration.project.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="span11">
                    <h3 class="muted">Total: {{ total_hours }}</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#datepicker1').datetimepicker({
            language: 'en',
            pickTime: false
            });
        });

        $(function() {
            $('#datepicker2').datetimepicker({
            language: 'en',
            pickTime: false
            });
        });

        $(function() {
            $('#datepicker3').datetimepicker({
            language: 'en',
            pickTime: false
            });
        });

        $(function() {
            $('#datepicker4').datetimepicker({
            language: 'en',
            pickTime: false
            });
        });
    </script>
{% endblock %}
