{% extends 'base.html' %}

{% block head %}
    <style>
        #desc {
            font-size: 22px;
        }
        dt {
            height: 40px;
        }
        dd {
            height: 40px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 well">

            <div class="row">
                <div class="col-md-11">
                     <h2 class="tk-atrament-web">Profile</h2>
                </div>
            </div>

            {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {% for msg in messages %}
                            <div class="alert alert-success">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

                <div class="col-md-11">
                    <div class="col-md-5">
                        <h3 class="muted">Information</h3>
                        <dl class="dl-horizontal" id="desc">
                            <dt>Username</dt>
                            <dd>{{ username }}</dd>
                            <dt>First name</dt>
                            <dd>{{ firstname }}</dd>
                            <dt>Last name</dt>
                            <dd>{{ lastname }}</dd>
                            <dt>E-mail</dt>
                            <dd>{{ email }}</dd>
                        </dl>

                    <h3>Change password</h3>
                    <form class="form-horizontal" action="" method="POST" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputPassword">Password</label>
                            <div class="input-group col-lg-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" id="inputPassword" placeholder="Password" name="password" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <button type="submit" class="btn btn-success btn-block">Change password</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-5 col-lg-offset-1 hidden-xs">
                    <h3 class="muted">Import ics</h3>
                    <blockquote>
                        <p>
                        When importing an ics file, TimeReg will create a
                        project based on the ics file name, unless you choose
                        to import into an already existing project.
                        </p>
                    </blockquote>
                    <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputFile">File</label>
                            <div class="input-group col-lg-10">
                                <input type="file" class="form-control" name="ics_file" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.project.errors }}
                            <label class="col-sm-2 control-label" for="inputProject">Project</label>
                            <div class="input-group col-lg-10">
                                {{ form.projects }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2">
                                <button type="submit" class="btn btn-success btn-block">Import</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
