{% extends 'base.html' %}

{% block head %}
    <style>
        #projectsNav {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 well">
            <div class="row">
                <div class="col-md-11">
                     <h2 class="tk-atrament-web">Projects</h2>
                </div>
            </div>

            <div class="col-md-11">
                {% if open_projects %}
                    <div class="col-md-5">
                        <h3 class="muted">Open projects</h3>
                        <table class="table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Hours</th>
                            </thead>
                            {% for project in open_projects %}
                                <tr>
                                    <td>{{ project.project_id }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.total_hours }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="col-md-5">
                         <h3 class="muted">No open projects.</h3>
                    </div>
                {% endif %}

                {% if closed_projects %}
                    <div class="col-md-5 col-lg-offset-1">
                        <h3 class="muted">Closed projects</h3>
                        <table class="table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Hours</th>
                            </thead>
                            {% for project in closed_projects %}
                                <tr>
                                    <td>{{ project.project_id }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.total_hours }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="col-md-5">
                         <h3 class="muted">No closed projects.</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
