{% extends 'base.html' %}

{% block head %}
<style>
    #projectsNav {
        color: #555;
        text-decoration: none;
        background-color: #e5e5e5;
        -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
        -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
        box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    }

    #fix-control-label {
        width: 65px;
    }

    #fix-controls {
        margin-left: 75px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">

            <div class="row-fluid">
                <div class="span11">
                    <h2 class="tk-atrament-web">Projects<i class="icon-edit"></i></h2>
                </div>
            </div>

            {% if open_projects or closed_projects %}
            <div class="span5">
                <h3 class="muted">Open projects</h3>
                <table class="table table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Total hours</th>
                    </thead>
                    {% for project in open_projects %}
                        <tr>
                            <td>{{ project.project_id }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.total_hours }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="span5 offset1">
                <h3 class="muted">Closed projects</h3>
                <table class="table table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Total hours</th>
                    </thead>
                    {% for project in closed_projects %}
                        <tr>
                            <td>{{ project.project_id }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.total_hours }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="span11">
                <h3 class="muted">No projects created.</h3>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
