{% extends 'base.html' %}

{% block head %}
    <style>
        #tools {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            }

        #tools-users {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            }

        #fix-control-label {
            width: 111px;
        }

        #fix-controls {
            margin-left: 125px;
        }
    </style>

    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">

            <div class="row-fluid">
                <div class="span11">
                    <h2 class="tk-atrament-web">User adminsitration</h2>
                </div>
            </div>

            {% if messages %}
            <div class="row-fluid">
                <div class="span12">
                    {% for msg in messages %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="span11">
                <div class="span5">
                    <h3 class="muted">Create new user</h3>
                    <form class="form-horizontal" action="/tools/users/" method="POST">{% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputUsername">Username</label>
                            <div class="controls" id="fix-controls">
                                <input type="text" id="inputUsername" placeholder="Username" name="username" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputEmail">Email</label>
                            <div class="controls" id="fix-controls">
                                <input type="email" id="inputUsername" placeholder="Email" name="email" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputEmployeeid">ID no.</label>
                            <div class="controls" id="fix-controls">
                                <input type="text" id="inputEmployeeid" placeholder="Employee ID" name="employee_id">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputDepartment">Department</label>
                            <div class="controls" id="fix-controls">
                                <input type="text" id="inputDepartment" placeholder="Department" name="department">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputEmpoymentdate">Employment date</label>
                            <div class="controls" id="fix-controls">
                                <div class="input-append date" id="datepicker1">
                                    <input data-format="yyyy-MM-dd" type="text" id="appendedInput" placeholder="Date" name="employment_date">
                                    <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputPassword">Password</label>
                            <div class="controls" id="fix-controls">
                                <input type="password" id="inputPassword" placeholder="Password" name="password" required>
                            </div>

                            <div class="controls" id="fix-controls">
                                <button type="submit" class="btn btn-success" name="addUser">Create user</button>
                            </div>
                        </div>
                    </form>
                </div>

                {% if active_users %}
                    <div class="span5 offset1">
                        <h3 class="muted">Disable user</h3>
                        <form class="form-horizontal" action="/tools/users/disable/" method="GET">
                            <div class="control-group">
                                <label class="control-label" id="fix-control-label" for="inputUser">Username</label>
                                <div class="controls" id="fix-controls">
                                    <select name="user" required>
                                        {% for profile in active_users %}
                                            <option value="{{ profile.user.username }}">{{ profile.user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="control-group">
                                    <div class="controls" id="fix-controls">
                                        <button type="submit" class="btn btn-warning">Disable</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}

                {% if disabled_users %}
                <div class="span5 offset1">
                    <h3 class="muted">Re-enable user</h3>
                    <form class="form-horizontal" action="/tools/users/reenable/" method="GET">
                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputUser">Username</label>
                            <div class="controls" id="fix-controls">
                                <select name="user" required>
                                    {% for profile in disabled_users %}
                                        <option value="{{ profile.user.username }}">{{ profile.user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="control-group">
                                <div class="controls" id="fix-controls">
                                    <button type="submit" class="btn btn-success">Re-enable</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}

                {% if users %}
                <div class="span5 offset1">
                    <h3 class="muted">Administrators</h3>
                    <form class="form-horizontal" action="/tools/users/make_admin/" method="GET">
                        <div class="control-group">
                            <label class="control-label" id="fix-control-label" for="inputUser">Username</label>
                            <div class="controls" id="fix-controls">
                                <select name="user" required>
                                    {% for profile in users %}
                                        <option value="{{ profile.user.username }}">{{ profile.user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="control-group">
                                <div class="controls" id="fix-controls">
                                    <button type="submit" name="do" class="btn btn-danger">Do</button>
                                    <button type="submit" name="undo" class="btn btn-danger">Undo</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block scripts %}

    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#datepicker1').datetimepicker({
            language: 'en',
            pickTime: false
            });
        });
    </script>

{% endblock %}
