{% extends 'base.html' %}

{% block head %}
    <style>
        #tools {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            }

        #tools-projects {
            color: #555;
            text-decoration: none;
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            }

        #fix-control-label {
            width: 65px;
        }

        #fix-controls {
            margin-left: 75px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 well">

            <div class="row-fluid">
                <div class="span11">
                    <h2 class="tk-atrament-web">Projects adminsitration</h2>
                </div>
            </div>

            {% if messages %}
            <div class="row-fluid">
                <div class="span12">
                    {% for msg in messages %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="span5">
                <h3 class="muted">Create new project</h3>
                <form class="form-horizontal" action="" method="POST">{% csrf_token %}
                    <div class="control-group">
                        <label class="control-label" id="fix-control-label" for="inputName">Name</label>
                        <div class="controls" id="fix-controls">
                            <input type="text" id="inputName" placeholder="Name" name="name" required>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ project_form.manager.errors }}
                        <label class="control-label" id="fix-control-label" for="inputManager">Manager</label>
                        <div class="controls" id="fix-controls">
                            {{ project_form.manager }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" id="fix-control-label" for="inputDesc">Description</label>
                        <div class="controls" id="fix-controls">
                            <input type="text" id="inputDesc" maxlength="200" placeholder="Description" name="description">
                        </div>
                    </div>
                    <div class="control-group">
                        {{ project_form.users.errors }}
                        <label class="control-label" id="fix-control-label" for="inputUsers">Members</label>
                        <div class="controls" id="fix-controls">
                            {{ project_form.users }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" id="fix-controls">
                            <button type="submit" class="btn btn-success">Add project</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="span5 offset1">
                <h3 class="muted">Close projects</h3>
                {% if active_projects %}
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Project name</th>
                                <th>Close</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in active_projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td style="text-align: center;"><a href="/tools/projects/close_project/{{ project.project_id }}"><i class="icon-ban-circle"></i></a><td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    There's no active projects!
                {% endif %}
            </div>
        </div>
{% endblock %}
